/* Colores */
$colores:(
    backgroundColorBlack: rgb(20,20,20),
    backgroundColorGrey: rgb(0,0,0,0.5),
    navColorViolet: rgb(61,16,104),
    effectColorMagenta: rgb(204,0,255),
    menuFontColorGrey: rgb(199,199,199),
    menuHoverBlack: rgb(31,31,31),
    contactFormBorderGrey: rgb(105,105,105),
    hoverViolet:rgb(114, 0, 143)
);

